@import url('./layout/normilize.css');
@import url('./layout/reset.css');
@import url('./layout/base.css');
@import url('./layout/main-page-wrapper.css');
@import url('./blocks/header.css');
@import url('./blocks/menu.css');
@import url('./blocks/contacts.css');
@import url('./blocks/main__content.css');
@import url('./blocks/preview.css');
@import url('./blocks/button.css');
@import url('./blocks/description.css');
@import url('./blocks/paginator.css');
@import url('./blocks/news.css');
@import url('./blocks/about.css');
@import url('./blocks/footer.css');
@import url('./blocks/socials.css');

