.burger {
  display: flex;
  height: 26px;
  width: 24px;
  opacity: 0;
  align-items: center;
  position: fixed;
  top: 3%;
  right: 100%;
  z-index: 50;
}

.burger__line {
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 10px;
  position: relative;

  &:before, &:after {
    content: "";
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }

  &::before {
    top: 8rem;
    transform: translateY(50%);
  }

  &::after {
    bottom: 8rem;
    transform: translateY(-50%);
  }
}