.form {
  display: flex;
}

.form__col {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 3%;
  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 15rem;


  &:last-child {
    margin-bottom: 0;
  }
}

.form__block {
  flex: 1;
  margin-right: 3%;
  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  padding: 18rem 12rem;
  border-radius: 4px;
  border: 3px solid transparent;

  &--textarea {
    min-height: 160rem;
    resize: none;
  }

  &:focus {
    border-color: #DEE2BD;
    outline: none;
  }
}

.form__controls {
  margin-top: 19rem;
  display: flex;
  flex-wrap: wrap;
}

.form__buttons {
  margin-top: 46rem;
}