.pictures {
  display: flex;
  justify-content: center;
}

.picture-active {
  width: 80rem;
  height: 80rem;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  &:hover {
    border: 6px solid #365A49;
  }
}

.picture-active__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.picture-active__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}