.title {
  font-weight: bold;
  font-size: 48rem;
  text-transform: uppercase;
}

.title--black {
  color: #000;
  text-align: center;
}

.title--green {
  color: #365A49;
  text-align: center;
}
