.paginator {
  margin-top: 51px;
  display: flex;
  justify-content: center;
  align-items:center;
}


.paginator__pages {
  margin-right: 36px;
}

.paginator__list {
  display: flex;
}

.paginator__link {
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #FFFFFF;
  line-height: 32px;
}

.paginator__link:hover {
  background-color: #FF5500;
}