body, html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #17191C;
  color: #FFFFFF;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}

.wrapper__content {
  flex: 1;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}
