.wrapper.wrapper-page-greeting {
  background: url('../../img/bg/bg.png') center / cover no-repeat;

}

.camera {
  padding-top: 158px;
}

.camera__record {
  background: url('../../img/greeting/rec.png') center center no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 648px;
}

.camera__enter {
  padding-top: 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 240px;
  animation: fly 1.5s cubic-bezier(.19,1.09,.68,1.44);
  transform-origin: center bottom;

}

.—Åamera__button--short {
  width: 168px;
}

@keyframes fly {
  0% {
    transform: scale(0);
  }

  10% {
    transform:scale(0) rotate(60deg);
  }

   60% {
    transform: scale(1) rotate(-7deg);
  } 

  75% {
    transform: rotate(4deg);
  }

  100% {
    transform: rotate(0deg); 
  }

}

