.button {
  font-weight: bold;
  font-size: 14px;
  width: 195px;
  height: 55px;
  background-color: #FF5500;
  border-radius: 35px;
  border: 0px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button:hover {
  background-color: #b13d0f;
  box-shadow: 0 0 25px 0 rgba(34, 184, 176, 0.867);
  transition: 0.7s;
}