.news {
  margin-top: 184px;
}

.news__title {
  font-weight: 800;
  font-size: 36px;
  text-transform: uppercase;
}

.news__list {
  margin-top: 51px;
  display: flex;
  justify-content: space-between;
}

.news__item {
  width: 557px;
  position: relative;
}


.news__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px 30px;
}

.news__date {
  font-size: 14px;
  margin-bottom: 15px;
}

.news__subtitle {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
}

.news__text {
  width: 442px;
}