.page-content {
  padding-top: 94px;
  background: #ffffff;
  color: #303030;
  ;
}

.film {
  padding: 0 0 81px;
}

.film__item {
  display: flex;
  padding: 0 0 5px;
}

.film__item--padding {
  padding-top: 47px;
}

.film__img {
  width: 40%;
  margin-right: 5.5%;
}

.film--img--elem {
  display: block;
}

.film__content {
  flex: 1;
}

.film__title {
  font-weight: bold;
  font-size: 36px;
  color: #000000;
  padding-top: 8px;
}

.film__text {
  line-height: 1.7;
  margin-top: 30px;
  margin-bottom: 34px;
}

.paginator {
  padding-top: 10px;
}

.paginator__link--black{
  color:#000000;
}

.paginator__link--black:hover {
  color:#ffffff;
}

.partners {
  background:#F4F5F5;
  padding: 79px 0 103px;
}

.partners__title {
  padding-top: 10px;
  font-weight: bold;
  font-size: 48px;
  color: #1A1B1E;
  margin-bottom: 82px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
  margin-left: 46px;
}

.partners__item:nth-child(4n+1) {
  margin-left: 0;
}

.partners__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100px;
}