.separator {
  background: #373737 url('../../img/bg/party.png') right 19.3% bottom no-repeat;
  color: #FFFFFF;
}

.separator__content {
  display: flex;
  min-height: 363px;
  flex-direction: column;
  justify-content: center;
  max-width: 48%;
}

.separator__title {
  font-weight: bold;
  font-size: 48px;
}

.separator__title--orange {
  color: #FF5500;
}